<%- include('../partials/header'); -%>

<%- include('../partials/nav'); -%>

<div class="container mt-5">
    <div class="card card-body">
      <%- body %>
    </div>
  </div>

<%- include('../partials/footer'); -%>